.todo-panel
	input(v-model="newTodo", placeholder='Enter your todo', maxlength="100", @keyup.enter="addTodoItem").todo-input
	button(type="button", @click="addTodoItem").button-todo-add Add Todo

	.todo-panel-navigate
		button(type="button", @click="selectAllTodos(todos)") Select all, as completed
		button(type="button", @click="deleteAllCompleteTodos(todos)") Delete completed todos