[v-cloak] 
	display none
.todo-list
	padding 0 30px 30px
.todo-item
	position relative
	&-caption
		width 300px
		display inline-block
		background lightgrey
		margin 5px 5px 0 0
		cursor pointer
    	
	&-delete 
		&:hover
			color red
			cursor pointer
	&-edit
		margin-right 5px
		&:hover
			color orange
			cursor pointer
.todo-input-edit
	top 3px
	position absolute
	width 315px
	display none
	
.help 
	color grey
	
.add-todo
	padding 10px
	text-align center
	
.todo-panel-navigate
	text-align center
	padding 10px

    
.todo-container
	margin 15px auto
	width 500px
	box-shadow 0 0 10px rgba(0,0,0,0.5)
	
.preloader
	text-align center
	&-img
		width 30px
		
.completed
	color green

    
    