.user
	&-panel
		background #333
		color white
	&-button-exit
		padding 0 16px 5px
		text-align -webkit-right	
		display block
		
.user-profile
	padding 5px
	text-align right
	&-name
		display inline-block
		position relative
		bottom 25px
		left -10px
	&-photo
		border-radius 50%
		width 60px
		height 60px
		display inline-block