TodoList(:selectAllTodos="selectAllTodos", 
		:deleteAllCompleteTodos="deleteAllCompleteTodos", 
		:deleteTodoItem="deleteTodoItem", 
		:changeStatusTodoItem="changeStatusTodoItem", 
		:editTodoItem="editTodoItem", 
		:editedTodo="editedTodo", 
		:openEditTodo="openEditTodo",
		:todos="todos",
		:loading="loading")
